@import
url('https://fonts.googleapis.com/css?family=Lato');
body{
    background-image: url("Bg50.png");
    font-family: 'Lato', sans-serif;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
}
.header{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#484360;
    height:150px;
}
.links{
    padding-top: 55px;
    float: right;
    font-weight: bold;
    font-size:1rem;
    color:#d78e61;
}
.links a{
    padding:15px;
    color:#508784;
}
.links a:hover{
    color:#99cccc;
}
.center{
    margin-top: 100px;
    color:#508784;
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}
.center img{
    margin: auto;
    width: 50%;
}
.contact{

}
.contact img{

}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height:100px;
    padding:10px;
    background-color: #484360;
    font-size:0.9rem;
}
.footer img{

    float: center;

}
