@import
url('https://fonts.googleapis.com/css?family=Lato');
body{
    background-color: #cce1c2;
    margin:2px;
    font-family: 'Lato', sans-serif;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
}
.header{
    background-color:white;
    height:120px;
}
.nav{
    float: right;
    padding-right: 65px;
    padding-bottom: 65px;
}
.logo{
  margin-left: 45px;
  height: 120px;
}
.links{
    padding-bottom: 35px;
    font-size:1rem;
    color:#d08368;
}
.links a{
    padding:15px;
    color:#bfd9bd;
}
.links a:hover{
    color:#d08368;
}
.center{
    height:1000px;
    max-width:950px;
    padding: 20px;
}
.center img{
    max-width:930px;
    height:797px;
    margin-top:60px;
}
.about{
    width: 450px;
    height: 500px;
    float:right;
}
.content img{
    width: 333px;
    height: 500px;
    float:bottom;
    float:left;
}
.box {
    width:900px;
    height:307px;
    margin-top:20px;
    border-bottom:3px gray;
}
.box img{
    width:60%;
    height:300px;
    float:right;
}
.text{
    font-size:0.8rem;
    float: left;
    width: 40%;
}
.contact{
    float:right;
    margin-top:100px;
    width: 40%;
    color: black;
    font-size:1rem;
}
.contact img{
    max-width: 50px;
    max-height: 50px;
    float: bottom;
    float: right;
    margin-top: 40px;
    margin-right: 70px;
}
.footer{
    max-width: 950px;
    height:100px;
    padding:20px;
    background-color: black;
    color: white;
    font-size:0.9rem;
}
.footer img{
    max-width: 50px;
    max-height: 50px;
    float: top;
    float: right;
}
