@import
url('https://fonts.googleapis.com/css?family=Lato');
body{
    background-color:;
    font-family: 'Lato', sans-serif;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
}
.header{
    border: 1px solid black;
    background-color:white;
    height:150px;
}
.links{
    border: 1px solid black;
    float: right;
    font-weight: bold;
    font-size:1rem;
    color:#d78e61;
}
.links a{
    padding:15px;
    color:#508784;
}
.links a:hover{
    color:#99cccc;
}
.center{
    border: 2px solid black;
    margin-top: 100px;
    color:#508784;
    text-align: center;
    margin: auto;
    width: 65%;
    padding: 10px;
}
.center img{
    margin: auto;
    width: 65%;
}
.about{
    border: 2px solid black;
    width: 450px;
    height: 500px;
    float:right;
}
.content img{
    border: 2px solid black;
    width: 333px;
    height: 500px;
    float:bottom;
    float:left;
}
.box {
    border: 2px solid black;
    width:900px;
    height:307px;
    margin-top:20px;
    border-bottom:3px gray;
}
.box img{
    width:60%;
    height:300px;
    float:right;
}
.text{
    font-size:0.8rem;
    float: left;
    width: 40%;
}
.contact{
    border: 2px solid black;
    float:right;
    margin-top:100px;
    width: 40%;
    color: black;
    font-size:1rem;
}
.contact img{
    border: 2px solid black;
    max-width: 50px;
    max-height: 50px;
    float: bottom;
    float: right;
    margin-top: 40px;
    margin-right: 70px;
}
.footer{
    border: 2px solid black;
    text-align: center;
    height:100px;
    padding:10px;
    background-color: white;
    color: black;
    font-size:0.9rem;
}
.footer img{

    float: center;

}
